div.popup[data-dlg="Question"]{
	min-height: 175px;
	width: 350px;
}
div.question{
	padding: 20px;
	margin: 0 20px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	
	background-color: rgb( 144, 288, 144 );
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	
	transition: box-shadow .25s ease-in-out;
	
	min-width: 100px;
	text-align: center;
}
div.question:not(.solved):hover{
	box-shadow: 0 0 20px rgb( 72, 144, 72 );
}
div.question.solved:hover{
	box-shadow: 0 0 20px #888;
}
div.question.solved{
	background-color: #AAA;
}
input[name="answer"]{
	margin-bottom: 50px;
	text-align: center;
}